<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cz.vookimedlo.alfred.say</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>19BFD9F5-CA34-4692-B87C-2066ABA193A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B31AF646-A7C1-4118-A090-4F838EB4D468</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3764F480-DFDD-4516-BD13-DBC69E6E1B76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>251016A1-5552-4968-886A-3386B37B8944</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DB3EA16-BC62-47AD-A4CC-F1BABE32F277</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>52319687-6FBE-4FAB-B7E4-33CBDFC10B30</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Save speech to file ...</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30C7BBC8-2A8F-47B8-A5D8-99EEC54DA423</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A348DA1-BA4B-4766-B9D7-69B68966368C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35AEE699-EA64-4B28-8897-3B78E22EA86C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>904CC772-A9E5-4D42-B3C2-E8EFF94FEA17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3764F480-DFDD-4516-BD13-DBC69E6E1B76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B815198D-557A-458F-BE8D-70C97171F7E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52319687-6FBE-4FAB-B7E4-33CBDFC10B30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19BFD9F5-CA34-4692-B87C-2066ABA193A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C4F98C34-BF1A-48FA-AF89-6758BFDCF121</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69751D7C-3A43-4005-BA9D-AB3AA3DEFADF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B31AF646-A7C1-4118-A090-4F838EB4D468</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3764F480-DFDD-4516-BD13-DBC69E6E1B76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8DB3EA16-BC62-47AD-A4CC-F1BABE32F277</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B31AF646-A7C1-4118-A090-4F838EB4D468</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>904CC772-A9E5-4D42-B3C2-E8EFF94FEA17</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C61B636C-6879-4B0D-907D-205112CB131E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B07FB92F-8DE1-4C95-B7DE-3CDDE399721D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>251016A1-5552-4968-886A-3386B37B8944</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B31AF646-A7C1-4118-A090-4F838EB4D468</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5013CEA2-796A-4FC0-8D1C-F02E2AE7EA34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C61B636C-6879-4B0D-907D-205112CB131E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4F98C34-BF1A-48FA-AF89-6758BFDCF121</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>69751D7C-3A43-4005-BA9D-AB3AA3DEFADF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DEF2796B-986D-4FCC-9DD4-EE2A73EED618</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30C7BBC8-2A8F-47B8-A5D8-99EEC54DA423</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Michal Duda</string>
	<key>description</key>
	<string>Alfred 3 workflow for saying a given text with a selected voice.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SayYouSayMe</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait ...</string>
				<key>script</key>
				<string>readonly query="{query}"

python3 voiceSelection.py "$query"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Preparing a voice selection</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>251016A1-5552-4968-886A-3386B37B8944</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>say</string>
				<key>subtext</key>
				<string>says your text</string>
				<key>text</key>
				<string>Say ...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B07FB92F-8DE1-4C95-B7DE-3CDDE399721D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>readonly query="{query}"

say -v $query "$textToSay"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8DB3EA16-BC62-47AD-A4CC-F1BABE32F277</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>readonly query="{query}"
readonly filename=`date '+speech_%Y-%m-%d_%H-%M-%S.m4a'`
readonly tmpdirpath=`mktemp -d`
readonly tmpfilenamepath="$tmpdirpath/$filename"
readonly filenamepath="$HOME/Desktop/$filename"

ps ax | grep 'SpeechSynthesis.framework/Resources/com.apple.speech.speechsynthesisd' | grep -v grep | sed 's/^ *//' | cut -d' ' -f1 | while read line; do kill $line 2&gt;/dev/null; done

say -v $query -o "$tmpfilenamepath" --data-format=alac "$textToSay"
mv -f "$tmpfilenamepath" "$filenamepath"
echo -n "$filename"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>19BFD9F5-CA34-4692-B87C-2066ABA193A0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>readonly latestTag=`curl -s https://api.github.com/repos/vookimedlo/alfred-say-you-say-me/releases/latest | grep browser_download_url | grep SayYouSayMe.alfredworkflow | cut -d '/' -f 8`

# THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist="https://raw.githubusercontent.com/vookimedlo/alfred-say-you-say-me/${latestTag}/src/info.plist"
readonly workflow_url=`curl -s https://api.github.com/repos/vookimedlo/alfred-say-you-say-me/releases/latest | grep browser_download_url | grep SayYouSayMe.alfredworkflow | cut -d '"' -f 4`
readonly download_type='direct'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  readonly local notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  readonly local terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5013CEA2-796A-4FC0-8D1C-F02E2AE7EA34</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>52319687-6FBE-4FAB-B7E4-33CBDFC10B30</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>B31AF646-A7C1-4118-A090-4F838EB4D468</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Please, wait!</string>
				<key>title</key>
				<string>Your audio file is being created.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C4F98C34-BF1A-48FA-AF89-6758BFDCF121</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait ...</string>
				<key>script</key>
				<string>readonly query="{query}"

python3 voiceSelection.py "$query"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Preparing a voice selection</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>904CC772-A9E5-4D42-B3C2-E8EFF94FEA17</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>readonly query="{query}"
readonly filename=`date '+speech_%Y-%m-%d_%H-%M-%S.m4a'`
readonly tmpdirpath=`mktemp -d`
readonly tmpfilenamepath="$tmpdirpath/$filename"
readonly filenamepath="$HOME/Desktop/$filename"

ps ax | grep 'SpeechSynthesis.framework/Resources/com.apple.speech.speechsynthesisd' | grep -v grep | sed 's/^ *//' | cut -d' ' -f1 | while read line; do kill $line 2&gt;/dev/null; done

say -v $query -o "$tmpfilenamepath" --data-format=alac -f "$textToSay"
mv -f "$tmpfilenamepath" "$filenamepath"
echo -n "$filename"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>69751D7C-3A43-4005-BA9D-AB3AA3DEFADF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>check your home directory for {query}</string>
				<key>title</key>
				<string>Your audio file is ready.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B815198D-557A-458F-BE8D-70C97171F7E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>+public.plain-text</string>
				</array>
				<key>name</key>
				<string>Say...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>35AEE699-EA64-4B28-8897-3B78E22EA86C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>3764F480-DFDD-4516-BD13-DBC69E6E1B76</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>C61B636C-6879-4B0D-907D-205112CB131E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>.say-unstick</string>
				<key>subtext</key>
				<string>Kills a stuck com.apple.speech.speechsynthesisd</string>
				<key>text</key>
				<string>Kill a speech synthesis daemon</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DEF2796B-986D-4FCC-9DD4-EE2A73EED618</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ps ax | grep 'SpeechSynthesis.framework/Resources/com.apple.speech.speechsynthesisd' | grep -v grep | sed 's/^ *//' | cut -d' ' -f1 | while read line; do kill $line 2&gt;/dev/null; done</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>30C7BBC8-2A8F-47B8-A5D8-99EEC54DA423</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>... was probably unstuck</string>
				<key>title</key>
				<string>Speech daemon</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3A348DA1-BA4B-4766-B9D7-69B68966368C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>See https://github.com/vookimedlo/alfred-say-you-say-me

Icons taken from https://openclipart.org/detail/298688/silly-face-icon-umber</string>
	<key>uidata</key>
	<dict>
		<key>19BFD9F5-CA34-4692-B87C-2066ABA193A0</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>SayYouSayMe - Say the text to file</string>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>251016A1-5552-4968-886A-3386B37B8944</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>SayYouSayMe - Voice selection</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>30C7BBC8-2A8F-47B8-A5D8-99EEC54DA423</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>SayYouSayMe - kills daemon</string>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>35AEE699-EA64-4B28-8897-3B78E22EA86C</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>SayYouSayMe - Read file</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>3764F480-DFDD-4516-BD13-DBC69E6E1B76</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>3A348DA1-BA4B-4766-B9D7-69B68966368C</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>SayYouSayMe - Unstick Done</string>
			<key>xpos</key>
			<integer>970</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>5013CEA2-796A-4FC0-8D1C-F02E2AE7EA34</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>970</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>52319687-6FBE-4FAB-B7E4-33CBDFC10B30</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>69751D7C-3A43-4005-BA9D-AB3AA3DEFADF</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>SayYouSayMe - Say the text to file</string>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>8DB3EA16-BC62-47AD-A4CC-F1BABE32F277</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>SayYouSayMe - Say the text</string>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>904CC772-A9E5-4D42-B3C2-E8EFF94FEA17</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>SayYouSayMe - Voice selection</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>B07FB92F-8DE1-4C95-B7DE-3CDDE399721D</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>SayYouSayMe - Say given text</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>B31AF646-A7C1-4118-A090-4F838EB4D468</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>B815198D-557A-458F-BE8D-70C97171F7E2</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>SayYouSayMe - Done</string>
			<key>xpos</key>
			<integer>970</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>C4F98C34-BF1A-48FA-AF89-6758BFDCF121</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>SayYouSayMe - Please wait</string>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>C61B636C-6879-4B0D-907D-205112CB131E</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>DEF2796B-986D-4FCC-9DD4-EE2A73EED618</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>SayYouSayMe - Unstuck speech daemon</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>buggy_voices_filter</key>
		<string>alex</string>
		<key>language_filter</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>language_filter</string>
	</array>
	<key>version</key>
	<string>2022.02.20</string>
	<key>webaddress</key>
	<string>https://github.com/vookimedlo/alfred-say-you-say-me</string>
</dict>
</plist>
